:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --main-background-color: #ffffff;
  --button-background-color: #f5f4fa;
  --section-background-color: #2f303a;
  --address-link-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto;
  background-color: var(--main-background-color);
  color: var(--primery-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.list {
  list-style: none;
}

/*=================HEADER============*/

header,
nav,
.site-nav {
  display: flex;
  align-items: center;
}

.section-button {
  border-top: 1px solid #ececec;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.tel {
  margin-left: 10px;
}

.mail {
  margin-left: 10px;
}

.logo-envelope {
  width: 16px;
  height: 12px;
  color: var(--title-text-color);
  margin-left: auto;
}

.logo-smartphone {
  width: 10px;
  height: 16px;
  color: var(--title-text-color);
  margin-left: 30px;
}

/*=========HERO==========*/
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  margin-bottom: 30px;
}

.hero {
  width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--section-background-color);
}

.hero-button {
  padding-bottom: 200px;
}

.hero-button-link {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-background-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 0;
  border: none;
}

.site-item:not(:last-child) {
  margin-right: 50px;
}

.site .details {
  display: flex;
  justify-content: center;
}

.features .container {
  margin-top: 94px;
  box-sizing: border-box;
}

.activities .container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.doing {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 49px;
}

.whats-doing-item {
  display: block;
}
.whats-doing-img {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*=======OUR TEAM=======*/

.our-team {
  background-color: var(--button-background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.team li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-header {
  margin-bottom: 50px;
}

.team .team-person h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .team-person p {
  text-align: center;
  padding-bottom: 30px;
}

.social-list-box {
  width: 206px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 30px;
}

.site-nav .link:hover,
.link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-text-color);
  text-decoration: none;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-decoration: none;
}

.contact {
  display: flex;
  margin-left: auto;
}

.button-link {
  font-family: Roboto;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  background: var(--button-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.button-link:focus,
.button-link:hover {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-background-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.full-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primery-text-color);
  text-decoration: none;
  margin-right: 93px;
}

.web-logo {
  color: var(--accent-text-color);
}

/*=====PROGECTS=====*/

.projects {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 94px;
}

.examples h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.examples p,
.team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  color: var(--title-text-color);
}

.examples li:hover,
.examples li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examples li:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.examples li {
  border: 1px solid #eeeeee;
}

.details {
  display: flex;
  width: 1170px;
  height: 101px;
  margin: 0 auto;
}

.features-icons-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-items {
  width: 270px;
}

.details-items:not(:last-child) {
  margin-right: 30px;
}

.details h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.details p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-link-color);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.address-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-background-color);
  text-decoration: none;
}

footer {
  background-color: var(--section-background-color);
}

footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact {
  font-style: normal;
  display: block;
}

.full-logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-background-color);
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.address-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

/*======BUTTONS of PORTFOLIO=======*/

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

.button li:not(:last-child) {
  margin-right: 8px;
}

.button li:hover,
.button li:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.join-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*========ICONS=======*/

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list {
  display: flex;
  /*align-items: center;*/
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: tomato;
}

/*.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
fill: var(--accent-text-color);
}*/

.features-icons {
  width: 270px;
  height: 120px;
  background-color: var(--button-background-color);
  margin-bottom: 30px;
  margin-right: 30px;
}

/*.features-icons:last-child {
  margin-right: 0;
}*/

.icon-group {
  width: 65px;
  height: 70px;
}

.icon-clock,
.icon-diagram {
  width: 70px;
  height: 70px;
}

.icon-astronaut {
  width: 55px;
  height: 60px;
}

.icon-instagram {
  fill: #2f303a;
}

.join {
  /*display: flex;*/
  width: 206;
}

.join-list {
  display: block;
  width: 206px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  background-color: var(--section-background-color);
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: tomato;
}

/*=========CLIENTS========*/

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
}

.clients-list-logo1 {
  width: 45px;
  height: 50px;
  fill: #afb1b8;
}

.clients-list-logo2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}

.clients-list-logo3 {
  width: 41px;
  height: 43px;
  fill: #afb1b8;
}

.clients-list-logo4 {
  width: 80px;
  height: 42px;
  fill: #afb1b8;
}

.clients-list-logo5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}

.clients-list-logo6 {
  width: 88px;
  height: 45px;
  fill: #afb1b8;
}

.clients-list-logo1:hover,
.clients-list-logo2:hover,
.clients-list-logo3:hover,
.clients-list-logo4:hover,
.clients-list-logo5:hover,
.clients-list-logo6:hover {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.clients .container {
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}
